

body {
    background-color:#98FB98;
    text-align:center;
}

.pagecontent a{

}

.pagecontent h1 {
    
}
img {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.navbar li {
    display: inline-block;
    padding-right: 10px;
}