
.pagecontent {
    background-color:#33ff33;

    height:1000%;
    width:100%;


}

img {
    width: 30%;
    height: 4.5%;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
